html {
    background-color: rgba(158, 158, 155, 0.2);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
}


h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.notification {
    width: 65%;
    background-color: white;
    color: rgb(107, 110, 114);
    text-align: center;
    border-radius: 100px;
    align-self: center;
    font-family: 'Quicksand', sans-serif;
}

input {
    text-align: center;
}

.hi {
    font-style: italic;
    font-size: 35px;
}

.pure-button {
    background-color: rgb(123, 170, 218);
    border-radius: 25px;
}

strong {
    font-size: 15px;
}

.moodi-2 {
    font-size: 80px;
    margin-top: -12px;
}

.moodii-home {
    color: black;
}

.notification-1 {
    width: 85%;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: rgb(197, 195, 195, 0.8);
    border-width: 2px;
    border-radius: 100px;
    height: 100px;
    align-self: center;
    margin-bottom: 20px;
}

#moods {
    background-color: white;
    border: rgb(197, 195, 195, 0.8);
    border-style: solid;    
    border-width: 2px;
    border-radius: 100px;
    justify-content: center;
    height: 55px;
    text-align: center;
    align-self: center;
    width: 65%;
    padding: 10px;
    margin-top: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 5px;
}

.mood-swing {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;;
}



p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    margin-left: 50px;
    padding: 18px;
}

img {
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    height: auto;
    padding: 25px;
    margin-top: -10px;
}

.plot {
    font-size: 12px;
}


.joke-question {
    font-size: 28px;
}

.dad-joke {
    font-style: italic;
}

.level {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    margin: 20px;
   justify-content: center;
    width: 300px;
    height: 525px;
}

.suggest-title {
    margin: 20px;
    font-size: 24px;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: rgb(119, 116, 116);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}


.card-header-title{
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;

}

.rating {
    font-size: 14px;
    font-style: italic;
}

#suggestion-bubbles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

#learn-more {
    border-radius: 25px;
   margin: 20px;
    background-color: rgba(53, 140, 226, 0.9);
}