html {
    background-color: rgba(158, 158, 155, 0.2);
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
}

.notification {
    width: 45%;
    background-color: white;
    color: rgb(107, 110, 114);
    text-align: center;
    border-radius: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -100px;
    font-family: 'Quicksand', sans-serif;
}

input {
    text-align: center;
}

.hi {
    font-style: italic;
    font-size: 35px;
}

.pure-button {
    background-color: rgb(123, 170, 218);
    border-radius: 25px;
}

strong {
    font-size: 15px;
}

.moodi-2 {
    margin-top: -1px;
    font-size: 80px;
}

.notification-1 {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: rgb(197, 195, 195, 0.8);
    border-width: 2px;
    border-radius: 50px;
    margin-top: -80px;
    margin-left: 250px;
    margin-right: 250px;
    height: 100px;
}

.level {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: rgb(197, 195, 195, 0.8);
    border-width: 2px;
    border-radius: 100px;
    margin-left: 350px;
    margin-right: 350px;
    height: 40px;
    text-align: center;
}

.mood-swing {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;;
}

.level {
    justify-content: center;
}

p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    margin-left: 50px;
    padding: 18px;
}

img {
    border-radius: 10px;
    width: 250px;
    padding: 5px;
}

.plot {
    font-size: 12px;
}

.movie-title {
    font-size: 14px;
    text-align: center;
}

.joke-question {
    font-size: 28px;
}

.dad-joke {
    font-style: italic;
}

.suggest-title {
    font-size: 20px;
    margin-left: 160px;
    padding-top: 20px;
    font-style: italic;
    color: rgb(78, 78, 78, 0.8);
}

.row {
    justify-content: center;
    padding: 30px;
}

.card {
    border-radius: 25px;
    height: max-content;
}

.card-title {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: rgb(119, 116, 116);
    font-family: 'Quicksand', sans-serif;
}

.rating {
    font-size: 14px;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
}

button#learn-more {
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgba(53, 140, 226, 0.9);
}