html {
    background-color: rgba(158, 155, 157, 0.2);
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
}

.notification {
    width: 45%;
    background-color: white;
    color: rgb(107, 110, 114);
    text-align: center;
    border-radius: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -100px;
    font-family: 'Quicksand', sans-serif;
}

input {
    text-align: center;
}

.hi {
    font-style: italic;
    font-size: 35px;
}

.pure-button {
    background-color: rgb(123, 170, 218);
    border-radius: 25px;
}

strong {
    font-size: 15px;
}

.moodi-2 {
    font-size: 80px;
    margin-top: -12px;
}

.notification-1 {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    margin-top: -80px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 100px;
    height: 100px;
}

.level {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-radius: 100px;
    margin-left: 350px;
    margin-right: 350px;
    height: 40px;
    text-align: center;
}

.mood-swing {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;;
}

.level {
    justify-content: center;
}

p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    margin-left: 50px;
    padding: 18px;
}

img {
    border-radius: 50px;
    width: 250px;
    height: auto;
    padding: 25px;
}

.plot {
    font-size: 12px;
}

.movie-title {
    font-size: 20px;
    text-align: center;
}

.joke-question {
    font-size: 28px;
}

.dad-joke {
    font-style: italic;
}